<div class="ui grid">
  <div class="four column centered row">
      <h1>Are you a new user?</h1>
  </div>
  <div class="eight column centered row">
      <button class="ui green button"><%= link_to 'Yes', new_user_path %></button>
      <button class="ui button"><%= link_to 'No', new_session_path %></button>
  </div>
</div>
