<h1>All of the Towns available for Rap Battles</h1>
<br>
<br>
<% @towns.each do |t| %>
<p>City:</p>
<p><%= t.name %></p>
<h2>Venues for this city</h2>
<% t.venues.each do |v| %>
  <p><%= v.name %></p>
<% end %>
<br>
<br>
<% end %>
